sonar.organization=skedulo
# replace this with the project key for your repository and be sure to configure the SONAR_TOKEN secret in github. For more information, see the CX Project Template Wiki.
sonar.projectKey={{ projectKey}}
sonar.sources=src